$container-bg: rgba(36,39,45,255) !important;
$container-color: rgba(219, 219, 232, 0.8) !important;
$container-border: 1px solid rgba(128, 128, 128, 0.20) !important;
$window-title-color: rgba(204, 204, 220, 0.65) !important;
$highlight: cornflowerblue;
$body-bg: rgb(24, 27, 31);
$input-bg: rgb(41, 46, 52);
$body-color: rgba(204, 204, 220, 0.65);
$search-highlight: rgba(128, 128, 128, 0.20);